<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hiba</title>
    <link rel="stylesheet" href="css/hibas.css">

</head>
<header>
    <div>
        <h1><a class="fo" href="/">Szálláskereső</a></h1>
    </div>
</header>
<body>

<div class="menbar">
    <p id="tel">+36 30 7463213</p>
    <p id="ema">szallaskereso@szallaskereso.com</p>
</div>
<div>
    <nav class="butt">
        <ul>
            <li><a class="reg" href="/regisztracio">Regisztráció</a></li>
            <li><a class="log" href="/bejelentkezes">Bejelentkezés</a></li>
        </ul>

    </nav>
</div>
<h2>A megadott felhasználónév, vagy jelszó nem megfelelő</h2>
</body>

</html>