<!DOCTYPE html>
<html lang="en">
<head>
    <title>Szállásfoglaló portál</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel='stylesheet' href='css/mainstyle.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="css/image/logout.js"></script>
</head>
<body>
<header>
    <table class="tablamenu">
        <tr>
            <td rowspan="3" style="text-align: center;">
                <a class="nav-link text-dark" href="/"><h1>Szálláskereső</h1></a>
            </td>
        </tr>
        <tr class="jobbratartas">
            <td><input type="button" value="Bejelentkezés" class="nav-link navjobbra buttonred" onclick="window.location.href='/bejelentkezes'"></td>
            <td><input type="button" value="Regisztráció" class="nav-link navjobbra buttonred" onclick="window.location.href='/regisztracio'"></td>
        </tr>
        <tr class="jobbratartas">
            <td colspan="2" text-align="right">+36 30 7463213 <a href="mailto:szallaskereso@szallaskereso.com">szálláskereső@szálláskereső.com</a></td>
        </tr>
    </table>
</header>
<div class="hova">
    <h1>Hová szeretne utazni?</h1>
    <form action="#" th:action="@{/kereses}"  method="post">

    <label><input type="text" placeholder="Város pl: Szeged" size="50" name="varos" id="varos"></label>
    <label><p class="hatter">Érkezés:</p> <input type="date" name="erkezes" id="erkezes" required></label>
    <label><p class="hatter">Távozás:</p> <input type="date" name="tavozas" id="tavozas" required></label>
    <input type="submit" value="Keresés" class="buttonred" >

    </form>
</div>


</body>
</html>