<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.springframework.org/schema/data/jaxb"
      layout:decorate="~{fragments/main_layout}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bejel.css">
    <script src="css/image/logoutindex.js"></script>
    <title>Bejelentkezés</title>
</head>
<header>
    <div>
        <h1><a class="fo" href="/">Szálláskereső</a></h1>
    </div>
</header>
<body onLoad="noBack();" onpageshow="if (event.persisted) noBack();" onUnload="">

<div class="menbar">
    <p id="tel">+36 30 7463213</p>
    <p id="ema">szallaskereso@szallaskereso.com</p>
</div>
<div>
    <nav class="butt">
        <ul>
            <li><a class="reg" href="/regisztracio">Regisztráció</a></li>
            <li><a class="log" href="/bejelentkezes">Bejelentkezés</a></li>
        </ul>

    </nav>
</div>
<div layout:fragment="content" class="container">
    <div class="simple-login-container col-md-4 offset-md-4">
        <h2>Bejelentkezés</h2>
        <form th:action="@{/login}" method="post">
            <fieldset>
                <div class="form-group">
                    <label for="felhasznalonev" class="form-control-label">Felhasználónév</label><br>
                    <input
                        type="text" class="form-control" id="felhasznalonev" name="felhasznalonev" required/>

                </div>
                <div class="form-group">
                    <label for="jelszo" class="form-control-label">Jelszó</label><br>
                    <input
                        type="password" class="form-control"
                        id="jelszo" name="jelszo"/>
                </div>

                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6  form-group">
                        <input type="submit" class="btn btn-lg btn-success btn-block" value="Bejelentkezés">
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6  form-group">
                        <a href="/regisztracio" class="btn btn-lg btn-primary btn-block">Regisztráció</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
</body>

</html>