<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nincs szolgáltatás</title>
    <link rel='stylesheet' href="css/nincsszolg.css">
</head>
<header>
    <div>
        <h1><a class="fo" href="/">Szálláskereső</a></h1>
    </div>
</header>
<body>
<div class="menbar">
    <p id="tel">+36 30 7463213</p>
    <p id="ema">szallaskereso@szallaskereso.com</p>
</div>
<div>
    <nav class="butt">
        <ul>
            <li><a class="vi" href="/">Kijelentkezés</a></li>
        </ul>

    </nav>
</div>
<h2>A szállodának nincsenek szolgálatásai</h2>
<br>
<div class="hova">
    <form action="#" th:action="@{/foglalas}"  method="post">
        <label><input type="hidden" th:value="${felh}" name="felhasznalonev" id="felhasznalonev"></label>
        <input type="submit" value="Vissza a foglalásokhoz" class="buttonred" >
    </form>
<br>
</div>
</body>
</html>