<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nincs szolgáltatás</title>
    <link rel='stylesheet' href="css/nincsszolgszall.css">
</head>
<header>
    <div>
        <h1><a class="fo" href="/">Szálláskereső</a></h1>
    </div>
</header>
<body>
<div class="menbar">
    <p id="tel">+36 30 7463213</p>
    <p id="ema">szallaskereso@szallaskereso.com</p>
</div>
<div>
    <nav class="butt">
        <ul>
            <li><a class="vi" href="/">Kijelentkezés</a></li>
        </ul>

    </nav>
</div>
<h2 id="ha2">A Szállodának nincs még szolgáltatása</h2>
<br>
<div>
    <h2 id="hb2">Szolgáltatás hozzáadása</h2>
    <div id="kozepre">
        <form action="#" th:action="@{/addszolg}" method="post">
            <label>Szolgáltatás neve:
                <input type="text" name="tipus" id="tipus"></input>
            </label>
            <label>Ár:
                <input type="number" name="szolg_ar" id="szolg_ar"></input>
            </label>
            <label>
                <input type="hidden" th:value="${felh[0]}" name="felhasznalonev" id="felhasznalonev"></input>
            </label>
            <label>
                <input type="hidden" th:value="${felh[1]}" name="szallodanev" id="szallodanev"></input>
            </label>
            <input type="submit" value="Küldés" class="btn-sm btn-dark details"></input>
        </form>
    </div>
</div>
<br>
<div class="hova">
    <form action="#" th:action="@{/szalloda}"  method="post">
        <label><input type="hidden" th:value="${felh[0]}" name="felhasznalonev" id="felhasznalonev"></label>
        <input type="submit" value="Vissza a szállodáimhoz" class="buttonred" >
    </form>
</div>
<br>
</body>
</html>