<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nincs találat</title>
    <link rel="stylesheet" href="css/nincstalalatbel.css">
</head>
<header>
    <div>
        <h1><a class="fo" href="/">Szálláskereső</a></h1>
    </div>
</header>
<body>
<h2>A keresett városban nincs kiadó szállás a megadott időpontban</h2>

<div class="menbar">
    <p id="tel">+36 30 7463213</p>
    <p id="ema">szallaskereso@szallaskereso.com</p>
</div>
<div>
    <nav class="butt">
        <ul>
            <li><a class="vi" href="/">Kijelentkezés</a></li>
        </ul>

    </nav>
</div>
<div class="hova">
    <form action="#" th:action="@{/vissza}"  method="post">
        <label><input type="hidden" th:value="${attribute[0]}" name="felhasznalonev" id="felhasznalonev"></label>
        <input type="submit" value="Vissza a kezdőlapra" class="buttonred" >
    </form>
</div>
<br>
</body>

</html>