<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/rosszdatum.css">
    <title>Rossz dátum</title>
</head>
<header>
    <div>
        <h1><a class="fo" href="/">Szálláskereső</a></h1>
    </div>
</header>
<body>

<div class="menbar">
    <p id="tel">+36 30 7463213</p>
    <p id="ema">szallaskereso@szallaskereso.com</p>
</div>
<div>
    <nav class="butt">
        <ul>
            <li><a class="reg" href="/regisztracio">Regisztráció</a></li>
            <li><a class="log" href="/bejelentkezes">Bejelentkezés</a></li>
        </ul>

    </nav>
</div>
<h2>A megadott dátum nem lehet korábbi a mai napnál vagy a távozási dátum nem lehet korábbi az érkezésinél.</h2>
<div>
    <nav class="menu">
        <ul>
            <li><a class="vi" href="/">Vissza</a></li>
        </ul>
    </nav>
</div>
</body>

</html>