<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Szolgáltatások</title>
    <link rel='stylesheet' href="css/szolglistaszall.css">
</head>
<header>
    <div>
        <h1><a class="fo" href="/">Szálláskereső</a></h1>
    </div>
</header>
<body>
<div class="menbar">
    <p id="tel">+36 30 7463213</p>
    <p id="ema">szallaskereso@szallaskereso.com</p>
</div>
<div>
    <nav class="butt">
        <ul>
            <li><a class="vi" href="/">Kijelentkezés</a></li>
        </ul>

    </nav>
</div>
<div>
    <h2  id="ha2" th:text="${szolg[0].szallodanev} + ' Szolgáltatásai:'"></h2>
    <br>
    <div id="kozepre">
        <form action="#" th:action="@{/addszolg}" method="post">
            <label>Szolgáltatás neve:
                <input type="text" name="tipus" id="tipus"/>
            </label>
            <label>Ár:
                <input type="number" name="szolg_ar" id="szolg_ar"/>
            </label>
            <label>
                <input type="hidden" th:value="${felh}" name="felhasznalonev" id="felhasznalonev"/>
            </label>
            <label>
                <input type="hidden" th:value="${szolg[0].szallodanev}" name="szallodanev" id="szallodanev"/>
            </label>
            <input type="submit" value="Küldés" class="btn-sm btn-dark details"/>
        </form>
    </div>
</div>
<br>
<div>
    <h2 id="hb2"> Szolgáltatás hozzáadása</h2>
    <table>
        <thead>
        <tr>
            <th>Szolgáltatás</th>
            <th>Ár</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="szolg : ${szolg}">
            <td th:text="${szolg.tipus}"></td>
            <td th:text="${szolg.szolg_ar} + ' Ft'"></td>
            <td>
                <form action="#" th:action="@{/szolgtorol}"  method="post">
                    <label><input type="hidden" th:value="${szolg.szallodanev}" name="szallodanev" id="szallodanev"></label>
                    <label><input type="hidden" th:value="${szolg.azon}" name="azon" id="azon"></label>
                    <label><input type="hidden" th:value="${felh}" name="felhasznalonev" id="felhasznalonev"></label>
                    <input type="submit" value="Törlés" class="buttonred" >
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<br>
<div class="hova">
    <form action="#" th:action="@{/szalloda}"  method="post">
        <label><input type="hidden" th:value="${felh}" name="felhasznalonev" id="felhasznalonev"></label>
        <input type="submit" value="Vissza a szállodáimhoz" class="buttonred" >
    </form>
</div>
<br>
</body>
</html>